<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "password_reset_confirm.css" %}">
</head>
<body>
    <body>
        <div class="MediFill-box">MediFill</div> 
         <div class="container">
           <div class="content">
               <h1>Forgot password</h1>
   
               <div class="p"><p >Pleace Enter new password twice to we can verify you typed it in correctly</p>
               </div>
               <form action="" method="post">
                {% csrf_token %}
                
               <div class="new-password"> 
                   <label for="email">New password</label> 
                   <br>
                   <!-- <input type="email" name="" id="">    -->{{ form.new_password1 }}
               </div>
               <div class="new-password
               "> 
                <label for="email">Confirm password</label> 
                <br>
                <!-- <input type="email" name="" id="">    -->    {{ form.new_password2 }}
            </div>
         
          <div class="button-area"> <button type="submit" >Change password</button> 
          </form>           
        </div>
       </div>
   </div>  
</body>
</html>