<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "reset_password_sent.css" %}">
</head>
<body>
    <div class="content">
        <h1> password  reset request will be send</h1>

        <div class="p"><p > We have sent you this email in response to your request to reset your password on ${site-name}. After you reset your password, any credit card information stored in My Account will be deleted as a security measure.</p>
        </div>
        <a href="/">Close</a>
       </div>

</body>
</html>