<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="{% static "reset_password.css" %}">
</head>
<body>
     <div class="heading">MediFill</div> 
      <div class="container">
        <div class="content">
            <h1>Reset your password</h1>

            <div class="paragraph"><p >There is a request to change your password. Resetting your password is easy.
                Just press the button below and follow the instructions.
                We'll have you up and running in no time.</p>
            </div>
            <form action="" method="post">
            <div class="email-box"> 
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <label for="email">Enter email address</label> 
                <br>
                <!-- <input type="email" name="" id=""> -->  {{ form.email }}
            </div>
       
       <div class="button-area"> <button type="submit">Reset Password</button> 
       </form>
        <p>If you did not make this request, just ignore this email. Otherwise, pleas click button above to change your password.</p>
     </div>
    </div>
</div>
</body>
</html>