{% comment %} {% include "templates/ednav.html" %} {% endcomment %}
{% include "templates/ednav.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static "dashboard.css" %}">
    <link rel="stylesheet" href="{% static "searchdr.css" %}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul style=" display: flex;
            flex-wrap: wrap;">
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPnRQnt0IPw4AKmX9oqcCGESogZGqwCND3k4lMXq1M-g&s" alt="" style="height: 100%; border-radius: 50%; width: 100%;">                       </span>
                        <span class="title">Medifill</span>
                    </a>
                </li>

                <li>
                    <a href="/Doctor/dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Appointments</span>
                    </a>
                </li>
{% comment %} 
                <li>
                    <a href="/Shop/dashboard/insert">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Insert Medicine</span>
                    </a>
                </li> {% endcomment %}
{% comment %} 
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li> {% endcomment %}

                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        {% comment %} <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="/assets/imgs/sanju.png" alt="">
                </div>
            </div> {% endcomment %}

        <!-- ========================= Main ==================== -->
        <section>
            <hr>
             {% comment %} {% for doctor in results  %}
            {% if forloop.first or doctor != results|first %}  {% endcomment %}
            <article>
                <div>
                    <!-- dr -profile  start -->
                    <div>
                        <div>
                            <div class="div-1">
                                <a href="">
                                    <img src="{{doctor.imageURL}}" alt="user" width="100%" height="100%">
    
                                </a>
                            </div>
                            <div class="div-2">
                                <div>
                                    
                                    <p class="p-1">{{doctor.doctor_name | slice:"0:100"}} User name</p>
                                    <p class="p-2">{{doctor.specialisation | slice:"0:100"}}Time</p>
                                    
                                    {% comment %} <div>
                                        <img src="{% static "images/star-removebg-preview.png" %}" alt="" width="20" height="20">
                                        <p>4.95</p>
                                        <span></span>
                                        <a href="#">73 reviews</a>
                                    </div> {% endcomment %}
                                    {% comment %} <p class="p-3">Patients Tell Us:</p> {% endcomment %}
                                    <p class="p-4">
                                        <img src="{% static "images/cal-removebg-preview.png" %}" alt="" width="24" height="25">
                                        Easy scheduling</p>
                                    <p class="p-4 ,par-1">
                                        <img src="{% static "images/hand-heart-removebg-preview.png" %}" alt="" width="20" height="32">
                                        <span>Employs friendly staff </span></p>
                                </div>
                            </div>
                            
</body>

</html>