*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #f4f4f4;
    position: fixed;
}
.MediFill-box{
    height: 50vh;
    background-color: #33cabb;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align:center ;
    padding-top:5.5rem;
}
.container{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.content{
    width: 700px;
    height:550px;
    position: absolute;
    z-index:1;
    bottom: 1rem;
   text-align: center;  
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    line-height: 1.5rem;
    >h1{
        padding: 2rem;
        color: #13b2a2;
    }
    
    >.p{
        color: rgb(87, 86, 86);
        margin-bottom: 2rem;
        font-size:1.1rem;
    }
}
.new-password{
    color: #059082;
    margin: 0px 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    line-height: 2.5rem;
    font-size: large;
    >input{
      border:2px solid gainsboro;
      border-radius: 3px;
      padding:10px 10rem 10px 2px;
      font-size: x-large;
    }
}
.button-area{
    text-align:left;
    margin-left: 2rem;
}
button{
    background-color: #27b6a8;
    border: none;
    border-radius: 3px;
    padding: 12px 9.4rem;
    margin: 2rem 0px;

>a{
    text-decoration-line: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
   
}}
button:hover{
    background-color: #059f90;
    color: whitesmoke;
}