*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: rgb(149, 149, 149);
}
.heading{
    height: 50vh;
    background-color: #33cabb;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align:center ;
    padding-top:5.5rem;
    
}
.container{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.content{
    width: 700px;
    height:550px;
    position: absolute;
    z-index:1;
    bottom: 1rem;
   text-align: center;  
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    line-height: 1.5rem;
    
    >h1{
        padding: 2rem;
        color: #22cdbc;
    }
    
    >.paragraph{
        color: rgb(87, 86, 86);
        margin-bottom: 2rem;
        font-size:1.1rem;
        line-height:1.8rem;
    }
}
.email-box{
    color: #0dc7b4;
    margin: 0px 2rem;
    text-align: left;
    line-height: 3.2rem;
    font-size: x-large;
    >input{
      border:2px solid gainsboro;
  border-radius: 3px;
  padding:12px 10rem 12px 2px;
  font-size: large;
    }
}
.button-area{
    text-align:left;
    margin-left: 2rem;
}
button{
    background-color: #33cabb;
    border: none;
    border-radius: 3px;
    padding: 12px 6.2rem;
    margin: 2rem 0px;

>a{
    text-decoration-line: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
   
}}